<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Distance</display-name>
    <servlet-name>Distance</servlet-name>
    <servlet-class>com.twic.servlets.Distance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Distance</servlet-name>
    <url-pattern>/Distance</url-pattern>
  </servlet-mapping>
  <display-name>TWIC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AffichageVilles</display-name>
    <servlet-name>AffichageVilles</servlet-name>
    <servlet-class>com.twic.servlets.AffichageVilles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffichageVilles</servlet-name>
    <url-pattern>/AffichageVilles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierVille</display-name>
    <servlet-name>ModifierVille</servlet-name>
    <servlet-class>com.twic.servlets.ModifierVille</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierVille</servlet-name>
    <url-pattern>/ModifierVille</url-pattern>
  </servlet-mapping>
</web-app>